src/pug/index.pug
doctype html
html(lang="en" ng-app="Mirocana")
  include templates/head
  body(ng-controller="mainCtrl")
    header
      .brand
        p Mirocana

    .loader
      i.fa.fa-spinner.fa-pulse.fa-3x.fa-fw
      span.sr-only Loading...

    main
      .container
        .card-block.shadow-mirocana.shadow-mirocana-hover#one
          h3 Target
          p Advanced ICO analytics powered by artificial intelligence and hundreds of experts and analysts.
        #two
          .row
            .col-12.col-md
              .stat-block.card-block.shadow-mirocana.shadow-mirocana-hover
                .ico
                  img(src="images/icons/profile.png")
                .info-block
                  p.heading Your ID
                  p.content 1234jhkjdfsg-132412gsdfg-asdfasdf
                  a(href="#").btn.btn-settings Settings

            .col-12.col-md
              .stat-block.card-block.shadow-mirocana.shadow-mirocana-hover
                .ico
                  img(src="images/icons/coins.png")
                .info-block
                  p.heading Trust rating
                  p.content #[nobr.big 5 200] #[i.mirocana-icon &nbsp;]
                  a(href="#").btn.btn-activity Activity
            .col-12.col-md
              .stat-block.card-block.shadow-mirocana.shadow-mirocana-hover
                .ico
                  img(src="images/icons/time.png")
                .info-block
                  p.heading Session expires in:
                  p.content #[span.big 45] minutes #[span.big 12] seconds
                  a(href="#").btn.btn-logout Logout

        #three.shadow-mirocana
          .row.no-gutters
            .col-12.col-md
              .tab.active
                p.tab-text Upcoming
            .col-12.col-md
              .tab
                p.tab-text Ongoing
            .col-12.col-md
              .tab
                p.tab-text History
          .filter-row
            .row.no-gutters
              .switch.col-12.col-md
                label(for="switch")
                  span.switch-item(ng-class="switchItem1") All projects
                label(for="switch")
                  input#switch(type="checkbox" ng-model="checked" ng-change="switcher()")
                label(for="switch")
                  span.switch-item(ng-class="switchItem2") Most promissive projects
              .search.col-12.col-md
                label#search-label(for="search")
                input#search(type="text" placeholder="Search among all projects" ng-model="searchText")
        #four.shadow-mirocana
          h2.heading Market predictions
          .table-wrapper
            table
              thead
                tr
                  th 
                  th Name
                  th Starts in
                  th Investment#[br]opportunities
                  th Crowd rating
                  th Investment#[br]rating
                  th Target
                  th Predicted#[br]proseeds raised
                  th Predicted X factor #[br]in #[nobr #[strong 7 / 30 / 90]] days 
                  th
              tbody
                tr.hover-shadow-2(ng-repeat="row in data | filter:searchText | limitTo: numLimit track by $index")
                  td
                    img.ico(ng-src="{{row.img}}")
                  td {{row.name}}#[br]#[span.dsbl {{row.ticket}}]
                  td {{row.start_in}}
                  td {{row.opportunities}}
                  td [span.indicator {{row.expert_rating}}/100]
                  td [span.indicator {{row.investment_rating}}/100]
                  td {{row.target_currency}} #[span.money {{row.target}}]
                  td {{row.target_currency}} #[span.money {{row.target_prediction}}]
                  td {{ row['7_x_prediction'] }} / {{ row['30_x_prediction'] }} / {{ row['90_x_prediction'] }}
                  td
                    i.fa.fa-chevron-right
                //- include templates/tr
          .show-more
            a.btn.btn-grey(href="" ng-click="numLimit = numLimit + 10") Show more data
    footer
      .copyright
        p &copy; Mirocana
    include templates/scripts

dist/index.html
<!DOCTYPE html>
<html lang="en" ng-app="Mirocana">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Mirocana Target - Meritocracy Platform for advanced ICO analytics.</title>
    <link rel="stylesheet" href="styles/style.min.css">
    <link rel="stylesheet" href="styles/bootstrap-grid.min.css">
    <link rel="stylesheet" href="styles/font-awesome.min.css">
  </head>
  <body ng-controller="mainCtrl">
    <header>
      <div class="brand">
        <p>Mirocana</p>
      </div>
    </header>
    <div class="loader"><i class="fa fa-spinner fa-pulse fa-3x fa-fw"></i><span class="sr-only">Loading...</span></div>
    <main>
      <div class="container">
        <div class="card-block shadow-mirocana shadow-mirocana-hover" id="one">
          <h3>Target</h3>
          <p>Advanced ICO analytics powered by artificial intelligence and hundreds of experts and analysts.</p>
        </div>
        <div id="two">
          <div class="row">
            <div class="col-12 col-md">
              <div class="stat-block card-block shadow-mirocana shadow-mirocana-hover">
                <div class="ico"><img src="images/icons/profile.png"></div>
                <div class="info-block">
                  <p class="heading">Your Identity </p>
                  <p class="content">Toni Lane Casserly</p><a class="btn btn-settings" href="#">Settings</a>
                </div>
              </div>
            </div>
            <div class="col-12 col-md">
              <div class="stat-block card-block shadow-mirocana shadow-mirocana-hover">
                <div class="ico"><img src="images/icons/coins.png"></div>
                <div class="info-block">
                  <p class="heading">Reputation points</p>
                  <p class="content">
                    <nobr class="big">7 238</nobr> <i class="mirocana-icon">&nbsp;</i>
                  </p><a class="btn btn-activity" href="#">Activity</a>
                </div>
              </div>
            </div>
            <div class="col-12 col-md">
              <div class="stat-block card-block shadow-mirocana shadow-mirocana-hover">
                <div class="ico"><img src="images/icons/time.png"></div>
                <div class="info-block">
                  <p class="heading">Session expires in</p>
                  <p class="content"><span class="big">45</span> minutes <span class="big">12</span> seconds</p><a class="btn btn-logout" href="#">Logout</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="shadow-mirocana" id="three">
          <div class="row no-gutters">
            <div class="col-12 col-md">
              <div class="tab active">
                <p class="tab-text">Upcoming</p>
              </div>
            </div>
            <div class="col-12 col-md">
              <div class="tab">
                <p class="tab-text">Ongoing</p>
              </div>
            </div>
            <div class="col-12 col-md">
              <div class="tab">
                <p class="tab-text">History</p>
              </div>
            </div>
          </div>
          <div class="filter-row">
            <div class="row no-gutters">
              <div class="switch col-12 col-md">
                <label for="switch"><span class="switch-item" ng-class="switchItem1">ALL PROJECTS</span></label>
                <label for="switch">
                  <input id="switch" type="checkbox" ng-model="checked" ng-change="switcher()">
                </label>
                <label for="switch"><span class="switch-item" ng-class="switchItem2">MOST PROMISING PROJECTS</span></label>
              </div>
              <div class="search col-12 col-md">
                <label id="search-label" for="search"></label>
                <input id="search" type="text" placeholder="Search among all projects" ng-model="searchText">
              </div>
            </div>
          </div>
        </div>
        <div class="shadow-mirocana" id="four">
          <h2 class="heading">Projects analytics and predictions</h2>
          <div class="table-wrapper">
            <table>
              <thead>
                <tr>
                  <th> </th>
                  <th>Name</th>
                  <th>Starts in</th>
                  <th>Investment<br>opportunities</th>
                  <th>Experts<br>rating</th>
                  <th>Investment<br>rating</th>
                  <th>Target<br>to raise</th>
                  <th>Predicted<br>proseeds raised</th>
                  <th>Predicted X factor <br>in 
                    <nobr><strong>7 / 30 / 90</strong></nobr> days 
                  </th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                <tr class="hover-shadow-2" ng-repeat="row in data | filter:searchText | limitTo: numLimit track by $index">
                  <td><img class="ico" ng-src="{{row.img}}"></td>
                  <td>{{row.name}}<br><span class="dsbl">{{row.ticket}}</span></td>
                  <td>{{row.start_in}} days</td>
                  <td>{{row.opportunities}} active</td>
                  <td><span class="indicator">{{row.expert_rating}}/100</span></td>
                  <td><span class="indicator">{{row.investment_rating}}/100</span></td>
                  <td>{{row.target_currency}} <span class="money">{{row.target}}</span></td>
                  <td>{{row.target_currency}} <span class="money">{{row.target_prediction}}</span></td>
                  <td>{{ row['7_x_prediction'] }} / {{ row['30_x_prediction'] }} / {{ row['90_x_prediction'] }}</td>
                  <td><i class="fa fa-chevron-right"></i></td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="show-more"><a class="btn btn-grey" href="" ng-click="numLimit = numLimit + 10">Show more data</a></div>
        </div>
      </div>
    </main>
    <footer>
      <div class="copyright">
        <p>&copy; Mirocana</p>
      </div>
    </footer>
    <script src="scripts/angular.min.js" defer></script>
    <script src="scripts/ng-script.js" defer></script>
  </body>
</html>
